{% load static %}
{% load i18n admin_static %}

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>Mysite</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="{% static "admin_new/assets/global/plugins/font-awesome/css/font-awesome.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "admin_new/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "admin_new/assets/global/plugins/bootstrap/css/bootstrap.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "admin_new/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" %}" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link rel="stylesheet" type="text/css" href="{% static "admin_new/assets/global/plugins/select2/css/select2.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "admin_new/assets/global/plugins/select2/css/select2-bootstrap.min.css" %}" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link rel="stylesheet" type="text/css" href="{% static "admin_new/assets/global/css/components.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "assets/global/css/plugins.min.css" %}" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link rel="stylesheet" type="text/css" href="{% static "admin_new/assets/pages/css/login.min.css" %}" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" />
    <!-- END HEAD -->
    <style>
        .error{
            margin-top: 10px;
            color: #e73d4a;
        }
        .block-spinner-bar>div, .page-spinner-bar>div {
            background: #4bccd8;
        }
    </style>

    <body class=" login">
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href=/admin/>
                <img src="{% static 'admin_new/assets/pages/img/logo-big.png' %}" alt="" /> </a>

        </div>
        <!-- END LOGO -->

        <!-- BEGIN LOGIN -->
        <div class="content">
             <!-- BEGIN LOGIN FORM -->
            {% block messages %}
                {% if messages %}
                    <ul class="messagelist">
                        {% for message in messages %}
                          <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >
                              <div class="alert alert-info fade in"><button data-dismiss="alert" class="close close-sm" type="button"><i class="fa fa-times"></i></button>{{ message|capfirst }}</div>
                          </li>
                        {% endfor %}</ul>
                {% endif %}
            {% endblock messages %}

            {% if form.errors and not form.non_field_errors %}
            <!--<div class="alert alert-danger">-->
                    <!--<button class="close" data-close="alert"></button>-->
                    <!--{% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}-->
            <!--</div>-->

            {% endif %}

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endfor %}
            {% endif %}
            <form action="{{ app_path }}" method="post" class="login-form" id="login-form">{% csrf_token %}
                <h3 class="form-title font-green">Sign In</h3>
                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> Enter any username and password. </span>
                </div>
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" /> </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" /> </div>
                <div class="form-actions">
                    <button type="submit" class="btn green uppercase">Login</button>

                    <!--<a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>-->
                </div>



            </form>
            <!-- END LOGIN FORM -->
            <!-- BEGIN FORGOT PASSWORD FORM -->
            <form class="forget-form" method="POST">
                {% csrf_token %}
                <h3 class="font-green">Forgot Password ?</h3>
                <p> Enter your e-mail address below to reset your password. </p>
                <div class="form-group">
                    <input class="form-control placeholder-no-fix" id="email" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>

                    <span class="error"></span>
                <div class="form-actions">
                    <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
                    <button type="button" id="submit" class="btn btn-success uppercase pull-right">Submit</button>
                </div>
            </form>
            <!-- END FORGOT PASSWORD FORM -->
            <!-- BEGIN REGISTRATION FORM -->
        <div class="copyright">
            <script language="JavaScript" type="text/javascript">
                now = new Date
                theYear=now.getYear()
                if (theYear < 1900)
                theYear=theYear+1900
                document.write(theYear)
            </script>
            © mysite Admin </div>

        <!--[if lt IE 9]>
        <script src="/static/assets/global/plugins/respond.min.js"></script>
        <script src="/static/assets/global/plugins/excanvas.min.js"></script>
        <![endif]-->
        <script src="/static/admin_new/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/static/admin_new/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/admin_new/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="/static/admin_new/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/static/admin_new/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/static/admin_new/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <script src="/static/admin_new/assets/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
        <script src="/static/admin_new/assets/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
        <script src="/static/admin_new/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
        <script src="/static/admin_new/assets/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="/static/admin_new/assets/pages/scripts/login.min.js" type="text/javascript"></script>

    </body>

</html>