{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app='try'>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Standard Django With Angular</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.3/ui-bootstrap-tpls.min.js'></script>

    <!-- Markdown libs -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.3/showdown.js'></script>
    <script src='
    https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.js'></script>

    <script src='
https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.js'></script>
    <script src='{% static "js/external/ng-showdown.js" %}' ></script>

    <script src='{% static "js/external/dirPagination.js" %}' ></script>
    <script src='{% static "js/app/app.module.js" %}' ></script>
    <script src='{% static "js/app/app.config.js" %}' ></script>

    <script src='{% static "js/app/core/interceptors/interceptors.module.js" %}' ></script>
    <script src='{% static "js/app/core/interceptors/login-required.service.js" %}' ></script>

    <script src='{% static "js/app/core/post/post.module.js" %}' ></script>
    <script src='{% static "js/app/core/post/post.service.js" %}' ></script>

    <script src='{% static "js/app/blog-detail/blog-detail.module.js" %}' ></script>
    <script src='{% static "js/app/blog-detail/blog-detail.component.js" %}' ></script>

    <script src='{% static "js/app/product-add/product-add.module.js" %}' ></script>
    <script src='{% static "js/app/product-add/product-add.component.js" %}' ></script>

    <script src='{% static "js/app/blog-list/blog-list.module.js" %}' ></script>
    <script src='{% static "js/app/blog-list/blog-list.component.js" %}' ></script>
    <script src='{% static "js/app/login-detail/login-detail.module.js" %}' ></script>
    <script src='{% static "js/app/login-detail/login-detail.component.js" %}' ></script>

    <script src='{% static "js/app/register-detail/register-detail.module.js" %}' ></script>
    <script src='{% static "js/app/register-detail/register-detail.component.js" %}' ></script>

    <!--<script src='{% static "js/app/product-detail/product-detail.module.js" %}' ></script>-->
    <!--<script src='{% static "js/app/product-detail/product-detail.component.js" %}' ></script>-->

    <script src='{% static "js/app/blog-detail/blog-detail.module.js" %}' ></script>
    <script src='{% static "js/app/blog-detail/blog-detail.component.js" %}' ></script>

    <script src='{% static "js/app/utils/confirm-click/confirm-click.module.js" %}' ></script>
    <script src='{% static "js/app/utils/confirm-click/confirm-click.directive.js" %}' ></script>

    <script src='{% static "js/app/utils/try-nav/try-nav.module.js" %}' ></script>
    <script src='{% static "js/app/utils/try-nav/try-nav.directive.js" %}' ></script>


    <style>
    .new-class {
        font-size: 72px;
    }
    .other-class {
        font-size: 32px;
    }
    .new-class2 {
        font-size: 120px;
    }
    </style>
  </head>
<body>

<div class='container'>
    <try-nav></try-nav>

    <div class='col-sm-12' ng-view></div>

    <footer>
          <div class="panel-body">Prepared by: Rahil Memon
            <br>
            Contact information: <a href="#">
              rahil@peerbits.com</a></div>
          <div class="panel-footer">Powered by: Peerbits Solutions PVT LTD</div>
    </footer>
</div>

</body>
</html>
