<div class="form-group col-xs-5">
    <input class="form-control" type='text' ng-model='query' placeholder='Find'/>
</div>

<div class="form-group col-xs-7">
    <button style="float:right" class="btn btn-warning"><a ng-href='/add/'>Add Product</a></button>
</div>

<div dir-paginate='post in items | filter: query | itemsPerPage: 2 as postItems' pagination-id="sub-content">
    <div class="col-md-9">
        <div class="item-list-wrap">
            <div id="product-filter">
                <div class="item-list list panel-body">
                    <div class="item-content">
                        <div class="button-set">
                            <button class="btn btn-info"><a ng-href='/blog/{{ post.id }}'>View/Update</a></button>
                            <button class="btn btn-danger" type="button" class=""
                                    confirm-click='Do you want to delete this?' confirmed-click='deleteProduct(post)'>
                                Delete
                            </button>
                        </div>
                        <div class="heading">
                            <h4 class="text-dark heading-tag">{{ post.title | uppercase }} </h4>
                        </div>
                        <table class="table font-size16 font-light text-dark">
                            <colgroup>
                                <col width="30%">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>Per Hour</td>
                                <td class="text-green"><strong>${{ post.charge_perhour }}</strong></td>
                            </tr>
                            <tr>
                                <td>Per Day</td>
                                <td class="text-green"><strong> ${{ post.charge_perday }} </strong></td>
                            </tr>
                            <tr>
                                <td>Per Week</td>
                                <td class="text-green"><strong> ${{ post.charge_perday }} </strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>


</div>
<dir-pagination-controls ng-hide='query.length > 0' pagination-id="sub-content"></dir-pagination-controls>
<br/>
<span ng-if='postItems.length == 0'>No Posts Founds</span>
</div>
