{% extends "admin/base.html" %}
{% load i18n static %}
{% block usertools %}
<head>
    <script src="{% static 'admin_new/assets/global/plugins/jquery.min.js' %} " type="text/javascript"></script>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="#">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Form</span>
            </li>
        </ul>

    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-bubble font-green"></i>
                        <span class="caption-subject font-green bold uppercase">Product Add</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    <form name="form1" method="post" id="form_sample_2" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-body">

                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                You have some form errors. Please check below.
                            </div>

                            <div class="alert alert-success display-hide">
                                <button class="close" data-close="alert"></button>
                                Your form validation is successful!
                            </div>

                            <div class="form-group  margin-top-20">
                                <label class="control-label col-md-3">Title
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="title"/></div>
                                </div>
                            </div>
                            <!--<div class="form-group">-->
                            <!--<label class="control-label col-md-3">Email-->
                            <!--<span class="required"> * </span>-->
                            <!--</label>-->
                            <!--<div class="col-md-4">-->
                            <!--<div class="input-icon right">-->
                            <!--<i class="fa"></i>-->
                            <!--<input type="text" class="form-control" name="email" /> </div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                            <!--<label class="control-label col-md-3">URL-->
                            <!--<span class="required"> * </span>-->
                            <!--</label>-->
                            <!--<div class="col-md-4">-->
                            <!--<div class="input-icon right">-->
                            <!--<i class="fa"></i>-->
                            <!--<input type="text" class="form-control" name="url" /> </div>-->
                            <!--<span class="help-block"> e.g: http://www.demo.com or http://demo.com </span>-->
                            <!--</div>-->
                            <!--</div>-->

                            <div class="form-group">
                                <label class="control-label col-md-3">Rent/hour
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="charge_perhour"/></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Rent/Day
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="charge_perday"/></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Rent/Week
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-4">
                                    <div class="input-icon right">
                                        <i class="fa"></i>
                                        <input type="text" class="form-control" name="charge_perweek"/></div>
                                </div>
                            </div>

                            <!--<div class="form-group">-->
                            <!--<label class="control-label col-md-3">Rent/hour-->
                            <!--<span class="required"> * </span>-->
                            <!--</label>-->
                            <!--<div class="col-md-4">-->
                            <!--<div class="input-icon right">-->
                            <!--<i class="fa"></i>-->
                            <!--<input type="text" class="form-control" name="number" /> </div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                            <!--<label class="control-label col-md-3">Digits-->
                            <!--<span class="required"> * </span>-->
                            <!--</label>-->
                            <!--<div class="col-md-4">-->
                            <!--<div class="input-icon right">-->
                            <!--<i class="fa"></i>-->
                            <!--<input type="text" class="form-control" name="digits" /> </div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="form-group">-->
                            <!--<label class="control-label col-md-3">Credit Card-->
                            <!--<span class="required"> * </span>-->
                            <!--</label>-->
                            <!--<div class="col-md-4">-->
                            <!--<div class="input-icon right">-->
                            <!--<i class="fa"></i>-->
                            <!--<input type="text" class="form-control" name="creditcard" /> </div>-->
                            <!--<span class="help-block"> e.g: 5500 0000 0000 0004 </span>-->
                            <!--</div>-->
                            <!--</div>-->

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn green">Submit</button>
                                    <button type="button" class="btn default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
            <!-- END VALIDATION STATES-->
        </div>
    </div>


    <script>

        var FormValidation = function () {


        var handleValidation2 = function() {
            var form2 = $('#form_sample_2');
            var error2 = $('.alert-danger', form2);
            var success2 = $('.alert-success', form2);

            form2.validate({
                errorElement: 'span', //default input error message container
                errorClass: 'help-block help-block-error', // default input error message class
                focusInvalid: false, // do not focus the last invalid input
                ignore: "",  // validate all fields including form hidden input
                rules: {
                    title: {
                        minlength: 2,
                        required: true
                    },
                    charge_perweek: {
                        required: true,
                        number: true
                    },
                    charge_perhour: {
                        required: true,
                        number: true
                    },
                    charge_perday: {
                        required: true,
                        number: true
                    },
                },

                invalidHandler: function (event, validator) { //display error alert on form submit
                    success2.hide();
                    error2.show();
                    App.scrollTo(error2, -200);
                },

                errorPlacement: function (error, element) { // render error placement for each input type
                    var icon = $(element).parent('.input-icon').children('i');
                    icon.removeClass('fa-check').addClass("fa-warning");
                    icon.attr("data-original-title", error.text()).tooltip({'container': 'body'});
                },

                highlight: function (element) { // hightlight error inputs
                    $(element)
                        .closest('.form-group').removeClass("has-success").addClass('has-error'); // set error class to the control group
                },

                unhighlight: function (element) { // revert the change done by hightlight

                },

                success: function (label, element) {
                    var icon = $(element).parent('.input-icon').children('i');
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success'); // set success class to the control group
                    icon.removeClass("fa-warning").addClass("fa-check");
                },

                submitHandler: function (form) {
                    success2.show();
                    error2.hide();
                    form[0].submit(); // submit the form
                }
            });


    }


    var handleWysihtml5 = function() {
        if (!jQuery().wysihtml5) {

            return;
        }

        if ($('.wysihtml5').size() > 0) {
            $('.wysihtml5').wysihtml5({
                "stylesheets": ["../assets/global/plugins/bootstrap-wysihtml5/wysiwyg-color.css"]
            });
        }
    }

    return {
        //main function to initiate the module
        init: function () {

            handleWysihtml5();

            handleValidation2();

        }

    };
}();

jQuery(document).ready(function() {
    FormValidation.init();
});
</script>
{% endblock %}